<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Kendric's Profile Page</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    
  
    
    
    
    
  </head>
  <body>
    
    
       <div id="navbar">

         <a href="#about">About me</a>
         <a href="#projects">My Projects</a>
         <a href="#interests">Interests</a>
         <a id = "contact" href="#contacts">Contact</a>
       
       </div>
       
       <br>
       
      <div id = "top" style="margin: 30px;">

        <h1 >Kendric's Profile Page</h1>
        <div id = "img_and_about">
            <img src="/images/pic.png" height="1000px" width="500px" >
            
            <div id = "about">
                <p>Hi, my name is Kendric Terry. I am 16, I live in Manhattan, NY, and I attend <a target="_blank"  href="http://mcsmportal.net/">Manhattan Center For Science and Math</a></p>
                <p>In this you will learn a little about me such as my interests, things I have done, and overall who I am as a person. </p>
              
              </div>
        </div>
       
      </div>
  
      <hr>
      
      <br>
      
      <div id="interests">
        <h1>My Interests</h1>
            <p>I have many interests and hobbies such as, drawing, math, science, and anime, and cubing. </p>
            <p>These some of my drawings on my <a href="https://www.instagram.com/kakashi4l.z/">Instagram</a></p>
            <div id = "drawing">
              <img id = "drawing_img" src="/images/goku_vegeta.jpeg" width="400" height="400">
            </div>
            <button id = "back">Back</button>
            <button id = "forward">Next</button>
            
              
          
      </div>
          
      <hr>
      <div id="projects">
        <h1>Projects</h1>
     
            <p>I have been in different programs that taught me how to code and from those experiences I have a lot of projects. Here are some of the many projects I have. </p>
            <div id="project_vids">
                <div id= "vids">
                    <div id = "video">
                      <iframe width="400" height="400" src="https://www.youtube.com/embed/TaZ2JLbOvAw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div id = "description">
                      <p>In this project I made a pokemon game using android studio and java. I also used a pokemon api to get all the images and moves for each pokemon</p>
                    </div>

                    <div id = "github">
                      <a href="https://github.com/Kendric285/FinaleProject2020/tree/master/project/app/src/main/java/com/example/finalproject2020">Github Link</a>
                    </div>
                    
                    
                </div>
               

                <!-- <div class="vids">
                    <video class="tab" controls height="400" width="400">Your browser does not support the &lt;video&gt; tag.
                        <source src="/images/reminders.mov"/>
                      </video>
                      <p>This is a reminders website I used app using flask, SQlite database, and a sensehat </p>
                </div>
               
                <div class="vids">
                    <video class="tab" controls height="400" width="400">Your browser does not support the &lt;video&gt; tag.
                        <source src="/images/social.mov"/>
                      </video>
                      <p>This is I think the project I was most proud of because me and my partner were able to make a fully functional social media app. This video show the how the user logs into our site, posts, and interatcs with other users. Our site has so many features I could keep going on about it.</p>
                      <p><a href="https://github.com/mrseph34/Final-Project-2021">Github Link</a></p>
                </div> -->
                  
            </div>
            <button id = "back_project">Back</button>
            <button id = "forward_project">Next</button>
            
      </div>
      
      <hr>
      
      <!-- <div id="extracurriculars">
          <h1>Extracurricular Activities</h1>
          <p>Mount Sinai MedDocs</p>
          <p>Robotics</p>
          <p>Google Code Next</p>
          <p>Robotics</p>
          <p></p>
      </div> -->
      <div id = "contacts">
        
        <table>
          <caption>Contact and Important Info</caption>
            <tr id = "email">
              <td>Email</td>
              <td><a href = "/templates/contact.html">terrykendric@gmail.com</a></td>
            </tr>
            
            <tr id = "phone">
              <td>Phone</td>
              <td>None of your business</td>
            </tr>
            
            <tr id = "address">
              <td>Address</td>
              <td>1590 Madison Ave</td>
            </tr>
            
            <tr id = "resume">
              <td>Github</td>
              <td><a href = "https://github.com/Kendric285">Github</a></td>
            </tr>
          
          
          
        </table>
      </div>
      
      <script src="/js/script.js"></script>
    
    
    
  </body>
</html>